* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: black;
    background-position: bottom;
    position: relative;
}

#time {
    
    font-size: 8rem;
}
#timeArea {
    position: absolute;
    top: 50px;
    left: 0;
    width: 50%;
}
#focusArea {
    position: absolute;
    top: 50px;
    right: 0;
    width: 50%;
    margin-top: 50px;
    text-align: left;
}
#focusArea > h1 {
    text-align: center;
}
#focus {
    white-space: pre-wrap;
}
h1 {
    margin-bottom: 3rem;
}
h2 {
    margin: 0.5rem;
    opacity: 0.8;
}

@media(max-width: 700px) {
    #time {
        font-size: 6rem;
    }
}

@media(max-width: 1350px) {
    body {
        justify-content: flex-start;
    }
    #timeArea {
        position: initial;
        margin-top: 50px;
        text-align: center;
        width: auto;
    }
    #focusArea {
        position: initial;
    }
}