* {
  margin: 0;
  padding: 0;
}
main {
  display: grid;
  grid-template-columns: 15% auto;
  grid-column-gap: 10px;
}
header {
  height: 10vh;
}
section {
  height: 90vh;
}
#item_panel {
  background-color: lightgreen;
}

#main_view {
  display: flex;
  flex-direction: row;
  background-color: lightblue;
}
.item {
  display: flex;
  width: 95%;
  height: 70px;
  background-color: darkgrey;
  margin: 10px auto;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
