* {
  margin: 0;
}
main {
  position: relative;
  height: 90vh;
  width: 100vw;
}
header {
  position: relative;
  height: 10vh;
}
li {
  display: inline;
}
header > nav {
  position: absolute;
  right: 10px;
  top: 10px;

}
.blade {
display: flex;
align-items: center;
justify-content: center;
transition: ease-in-out 1s;
}
/*.top_row {
  height: 100%;
}
.bot_row {
  width: 100%;
}*/
#nav_top {
position: absolute;
top: 20px;
left: 50%;
transform: rotate(90deg);
cursor: pointer;
z-index: 9999;
}
#nav_left {
  position: absolute;
  top: 50%;
  left: 20px;
  cursor: pointer;
  z-index: 9999;
}
#nav_right {
  position: absolute;
  top: 50%;
  right: 20px;
  cursor: pointer;
  z-index: 9999;
}
#nav_bottom {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: rotate(90deg);
  cursor: pointer;
  z-index: 9999;
}

#sec1x1 {
  position: absolute;
  background-color: red;
  left: 0;
}
#sec1x2 {
  position: absolute;
  background-color: lightblue;
  height: 0%;
  width: 0%;
}
#sec1x3 {
  position: absolute;
  background-color: lightgreen;
  height: 0%;
  width: 0%;
}
#sec2x1 {
  position: absolute;
  background-color: yellow;
  height: 0%;
  width: 0%;
}
#sec2x2 {
  position: absolute;
  background-color: purple;
  height: 0%;
  width: 0%;
}
#sec2x3 {
  position: absolute;
  background-color: violet;
  height: 0%;
  width: 0%;
}
