#case {
  display: grid;
  grid-template-columns: 3% 10% auto;
  grid-column-gap: 10px;
}
#case_menu {
  height: 100%;
  background-color: white;
}
.case_item {
  background-color: lightgrey;
  width: 70%;
  padding-top: 70%;
  position: relative;
  margin: 10px auto;

}
.case_item h3 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#case_container {
  align-items: center;
  height: 100%;
}
#canvas_container {
  margin: 0 auto;
  height: 80%;
  min-height: 568px;
  max-height: 80%;
  width: 90%;
  min-width: 320px;
  max-width: 90%;
  resize: both;
  overflow: auto;
}
#case_canvas {
height: 100%;
width: 100%;
}
